.boton-iniciar-sesion {
    width: 50%;
    padding: 0.7rem;
    margin-top: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-main);
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu>i.bi-hand-index-thumb-fill,
.boton-menu>i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid var(--clr-white);
    transition: 0.3s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.carrito-producto-eliminar {
    border: 0;
    margin-top: 1.2rem;
    background-color: transparent;
    color: var(--clr-main);
    cursor: pointer;
}

.carrito-producto-eliminar:hover {
    background-color: var(--clr-gray);
    color: var(--clr-red);
}


.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border: 2px solid var(--clr-main);
    cursor: pointer;
}

.carrito-acciones-vaciar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}