.logo {
    font-weight: 500;
    font-size: 1.5rem;
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

.producto-titulo {
    font-size: 1rem;
    margin-bottom: .3rem;
}

.producto-precio {
    font-weight: bold;
    margin-bottom: .4rem;
}

.producto-descripcion {
    font-size: .85rem;
    color: var(--clr-main-light);
    line-height: 1.2rem;
    margin-bottom: .8rem;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carrito-producto-titulo {
    flex-grow: 1; 
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}