.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar,
.carrito-acciones-comprar {
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-vaciar {
    background-color: var(--clr-gray);
    color: var(--clr-main);
    border: 2px solid var(--clr-main);
}

.carrito-acciones-comprar {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

/* --- Media Queries para Carrito --- */
@media screen and (max-width: 600px) {
    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}