.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }
}