.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
    min-height: 100vh;
    width: 100%;
}

/* --- Media Queries para responsividad del Wrapper --- */
@media screen and (max-width: 600px) {
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}